name: release
on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      skipPublishMod:
        description: Don't publish Mod version on modrinth, curseForge, GitHub
        type: boolean
      skipPublishDatapack:
        description: Don't publish Datapack version on modrinth and GitHub
        type: boolean
      skipPublishCompatDatapacks:
        description: Don't publish compatability Datapack version on GitHub
        type: boolean
      skipPublishOnSmithed:
        description: Don't add version to smithed
        type: boolean

      
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install beet
        run: pip install beet
      - name: Install snowcapped
        run: npm i snowcapped
      - name: Build
        id: build
        run: beet -p beet-release.yaml
      - name: Publish Mod
        if: ${{ ! inputs.skipPublishMod }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/*.jar
          game-version-filter: releases
          game-versions: | 
            1.21.11
          version: ${{ steps.build.outputs.version }}
          version-type: beta
          loaders: |
            fabric
            forge
            neoforge
          modrinth-id: tpebiQuQ
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          
          curseforge-id: 1158600
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Datapack
        if: ${{ ! inputs.skipPublishDatapack }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/*.zip
          game-version-filter: releases
          game-versions: | 
            1.21.11
          version: ${{ steps.build.outputs.version }}
          version-type: beta
          loaders: datapack

          modrinth-id: tpebiQuQ
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Datapack on Smithed
        if: ${{ ! inputs.skipPublishOnSmithed }}
        uses: fjogeleit/http-request-action@v1.16.4
        with:
          url: https://api.smithed.dev/v2/packs/lavaflow/versions?version=${{ steps.build.outputs.version }}&token=${{ secrets.SMITHED_TOKEN }}
          method: POST
          customHeaders: '{"Content-Type": "application/json"}'
          data: '{
            "data": {
              "downloads": {
                "datapack": "https://github.com/jacobsjo/lavaflow/releases/download/v${{ steps.build.outputs.version }}/lavaflow_${{ steps.build.outputs.version }}.zip"
              },
              "dependencies": [],
              "name": "${{ steps.build.outputs.version }}",
              "supports": ["1.21.11"]
            }
          }'